h1 {
    font-size: 32px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto 60px;
}

header, footer {
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center
}

main {
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

nav, section, aside {
    background-color: greenyellow;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: darkgoldenrod;
}